@font-face {
  font-family: 'SM';
  src: url('https://yagamerchris.github.io/SM.otf') format('opentype');
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #660000);
  color: white;
  font-family: 'SM', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Ocultar el reproductor original */
audio {
  display: none;
}

/* REPRODUCTOR PERSONALIZADO */
.player {
  width: 90%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.08);
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.7s ease;
}

.play-btn {
  background: #ff1b1b;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 0 18px #ff1b1b;
  transition: 0.3s;
  font-family: SM;
}

.play-btn:hover {
  transform: scale(1.12);
  box-shadow: 0 0 28px #ff3a3a;
}

.info-radio {
  margin-top: 15px;
  text-align: center;
  font-family: SM;
}

.live {
  color: #ff3a3a;
  font-weight: bold;
  font-size: 1rem;
}

.title {
  display: block;
  font-size: 1.2rem;
  margin-top: 3px;
}

/* Barra */
input[type="range"] {
  width: 100%;
  margin-top: 15px;
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: #cfcfcf;
  border-radius: 6px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #ff1b1b;
  border-radius: 50%;
  margin-top: -5px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.9em;
  opacity: 0.7;
  user-select: none;
  font-family: SM;
}
